<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>宝宝食谱-推荐</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="css/app.css" />
		<script type="text/javascript" src="2017-12/bugaixilie.js" ></script>
		<script type="text/javascript" src="js/vue.min.js" ></script>
	</head>

	<body>
		
		<div class="mui-content" id="app">
			
			<div class="mui-card" v-for="(item,index) in items">
				<div class="mui-card-header">{{item.subject}}({{index+1}})----{{item.title}}</div>
				<div class="mui-card-header mui-card-media" v-bind:style="'height:40vw;background-image:url('+item.img+')'"></div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						<p style="color: #333;" v-if="item.age">适合年龄：{{item.age}}</p>
						<p style="color: #333;" v-if="item.tips">营养提示：{{item.tips}}</p>
					</div>
				</div>
				<div class="mui-card-footer">
					<p>{{item.time}}</p>
					<a class="mui-card-link" v-bind:href="'tony://open?url=http://hackwind.github.io/babyfood/html/2017-12/bugai.html#'+item.english">阅读全文</a>
				</div>
			</div>
			
		</div>
		<script src="../js/mui.min.js"></script>
		
		<script type="text/javascript">
			var vue = new Vue({
				el:"#app",
				data:{
					items:[]
				}
			});
			for(var key in data){
				data[key].img = data[key].img.replace(/..\//,"");
				vue.items.push(data[key]);
			}
		</script>
	</body>

</html>